<p>
  <a href="{{site.lc_site}}}">Library Carpentry</a> wird von Personen mit bibliothekarischem und informationswissenschaftlichem Hintergrund organisiert, um Ihnen zu helfen:
</p>
<ul>
  <li>sich wiederholende, langweilige, fehleranfällige Aufgaben zu automatisieren</li>
  <li>beim Erstellen, Pflegen und Analysieren von nachhaltigen und wiederverwendbaren Daten</li>
  <li>effektiv mit IT- Kolleg*innen zusammenzuarbeiten</li>
  <li>den Einsatz von Software in der Forschung besser zu verstehen</li>
  <li>und vieles mehr....</li>
</ul>
<p align="center">
  <em>
    Library Carpentry führt Sie in die Grundlagen der Datenverarbeitung ein und bietet Ihnen eine Plattform für weiteres selbstorganisiertes Lernen. Für weitere Informationen darüber, was wir unterrichten und warum, lesen Sie bitte unsere Veröffentlichung. "<a href="https://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
  </em>
</p>
